.dart_tool/
.packages
.pub/
/pubspec.lock
build/
.build/
.swiftpm/
.native-build/
.sources/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
*.user
*.suo
.DS_Store

*.la
*.pdb
native/vendor/libressl/
linux/vendor/freetds/lib/*.a
linux/vendor/freetds/lib/libct.so*
darwin/vendor/freetds/lib/
*/vendor/freetds/etc/
*/vendor/freetds/share/
*/vendor/freetds/bin/*
!*/vendor/freetds/bin/*.dll
